<mat-card>
    <mat-card-title>Integrated Development Environment</mat-card-title>
</mat-card>

<div style="margin-top: 20px" > 

<div class="flex-container" >
      <div class="flex-item-left">
       <button mat-raised-button color="primary">Run Program
          </button>
      </div>
      <div class="flex-item-right"> 
        <button mat-raised-button color="primary">Instruction
        </button>   
      </div>
    </div>


    <div class="flex-container-ide">
        <div class="flex-item-left-ide">
            
            <mat-card class="card-ide">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
             
                </mat-card-header>

                <mat-card-content>

                </mat-card-content>
     
              </mat-card>
              
        </div>
        
        <div class="flex-item-right-ide"> 
            <mat-card class="card-code">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
             
                </mat-card-header>

                <mat-card-content>

                </mat-card-content>
     
              </mat-card>

              <mat-card class="card-code">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
             
                </mat-card-header>

                <mat-card-content>

                </mat-card-content>
     
              </mat-card>
        </div>
      </div>
    </div>
