<div class="area" >
    <ul class="circles">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
  
<div class="container">
<div class="flex-container">

<!-- lEFT DIV-->
    <div class="flex-item-left">

    </div>

<!-- RIGHT DIV -->
    <div class="flex-item-right">
        <div class="div-form">
        <form [formGroup]="formGroup" ngNativeValidate class="form">
            <h1> Welcome Cobita</h1>
                <mat-form-field appearance="outline" >
                 <mat-icon matPrefix>email</mat-icon> 
                    <mat-label>Email:</mat-label>
                    <input matInput type="text" class="example-right-align" formControlName="email">
                  </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-icon matPrefix>lock</mat-icon> 
                  <mat-label>Enter your password</mat-label>
                  <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                </mat-form-field>

                <button mat-raised-button color="primary" [disabled]="formGroup.invalid || isloading" [style.visibility]="isloading ? 'hidden' : 'visible'" class="btn" color="primary" (click)="login()">
                    <div class="loader" *ngIf="isloading">
                        <div class="bar1"></div>
                        <div class="bar2"></div>
                        <div class="bar3"></div>
                        <div class="bar4"></div>
                        <div class="bar5"></div>
                        <div class="bar6"></div>
                        <div class="bar7"></div>
                        <div class="bar8"></div>
                        <div class="bar9"></div>
                        <div class="bar10"></div>
                        <div class="bar11"></div>
                        <div class="bar12"></div>
                    </div>
                    LOGIN</button>
            </form>
            <p align="start"> Register</p>
        </div>
    </div>
  </div>
</div>
      </ul>
</div >
<router-outlet></router-outlet>