<mat-card class="card-table">
  <mat-card-title>Activities</mat-card-title>
</mat-card>

<div class="flex-container">
  <mat-card class="flex-item-left card-table" *ngFor="let item of act" style="padding: 20px;">
      <mat-card-title style="font-size: 30px;">{{item.activity}} </mat-card-title>
      <mat-card-content style="margin-left: 70px; font-size: 20px;">{{item.detail}}</mat-card-content>
      <mat-divider inset></mat-divider>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="Update(item)">Answer</button>
        <!-- <button mat-button (click)="ViewScore(item.id)">View Score</button> -->
      </mat-card-actions>
  </mat-card>
</div>


