* {
    box-sizing: border-box;
  }
  
  mat-card{
    margin-top: 10px;
  }
  .card-table{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  }
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
    text-align: center;
  }
  
  .flex-item-left {
    margin-left: -17%;
    flex: 50%;
  }
  .flex-item-right {
    padding-left: 48%;
    flex: 50%;
  }
  
.container{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
  table {
      width: 100%;
    }
    
    .mat-form-field {
      font-size: 14px;
      width: 40%;  
    }

    td, th {
      width: 25%;
    }

  /* Responsive layout - makes a one column-layout instead of a two-column layout */
  @media (max-width: 800px) {
    .flex-item-right, .flex-item-left {
      flex: 100%;
    }
    .flex-item-left {
      margin-left: 0;
    }
    .flex-item-right {
      padding-left: 0;
    }
    .mat-form-field{
        width: 100%;  
      }
      button {
        width: 100%;
      }
  }