<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false">
      <mat-toolbar>Cobita</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item routerLink="home"  class="active-list" routerLinkActive="is-active"> 	<mat-icon style="margin-right: 10px;"> format_list_bulleted</mat-icon>To do list</a>
        <mat-divider  > </mat-divider>
        <a mat-list-item  class="active-list"  routerLink="student-ide" routerLinkActive="is-active"> 	<mat-icon style="margin-right: 10px;">code</mat-icon>IDE</a>
        <mat-divider  > </mat-divider>
        <a mat-list-item   class="active-list" routerLink="activity" routerLinkActive="is-active"> 	<mat-icon style="margin-right: 10px;">assignment</mat-icon>Activity</a>
        <mat-divider  > </mat-divider>
        <a mat-list-item   class="active-list" routerLink="view-score" routerLinkActive="is-active"> 	<mat-icon style="margin-right: 10px;">question_answer</mat-icon>Output</a>
        <mat-divider  > </mat-divider>
        <a mat-list-item  routerLinkActive="is-active" (click)="logout()">	<mat-icon style="margin-right: 10px;">logout</mat-icon>Logout</a>
        <mat-divider  > </mat-divider>
        
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span class="example-spacer"></span>
        <span>{{record}}</span>
      </mat-toolbar>
      <div class="content-container"> 
      <!-- Add Content Here -->
      <router-outlet></router-outlet>
    </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  